{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{act.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{act.title}}</h1>
            <h2 class="subheading">{{act.summary}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ act.body|safe }}

          </div>
      </div>
    </div>
  </article>


 {% if current_user.id==1: %}
  <div class="clearfix">
  <a class="btn btn-primary float-right" href="{{url_for('edit_activity', act_id=act.id)}}">Edit Activity</a>
  </div>
  {% endif %}
<hr>
{% include "footer.html" %}